<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <controlpads>
    <!--<controlpad id="1" name="控制板1" ip="192.168.1.175" port="4000">-->
      <controlpad id="1" name="控制板1" ip="192.168.1.177" port="4000">
      <cameras>
        <camera id="1" name="南相机">
          <ip>192.168.50.235</ip>
          <beltNo>1</beltNo>
          <netPortNum>1</netPortNum>
          <controlPadNo>1</controlPadNo>
          <alarmPicDir>C:\Alarm_Pic</alarmPicDir>
        </camera>
        <camera id="2" name="北相机">
          <ip>192.168.50.235</ip>
          <beltNo>1</beltNo>
          <netPortNum>2</netPortNum>
          <controlPadNo>1</controlPadNo>
          <alarmPicDir>C:\Alarm_Pic</alarmPicDir>
        </camera>
      </cameras>
    </controlpad>
  </controlpads>
  <alarm>
    <serialPort>
      <portName>None</portName>
      <baudRate>9600</baudRate>
      <parity>1</parity>
      <dataBits>8</dataBits>
      <stopBits>1</stopBits>
    </serialPort>
  </alarm>
  <connectionStrings>
    <add name="mysql" connectionString="Server=127.0.0.1;Database=ZSJC;Uid=root;Pwd=123456;"/>
  </connectionStrings>
  <server ip="192.168.1.177" port="3333"/>
  <clients>
    <client id="1" ip="192.168.50.30" port="3333"/>
    <client id="2" ip="192.168.50.31" port="3333"/>
    <client id="3" ip="192.168.50.32" port="3333"/>
    <client id="4" ip="192.168.50.33" port="3333"/>
  </clients>
  <copyImagePath path="C:\AlarmPics"/>
  <language lang="cn-ZH" />
  <showSetupWizard show="true"/>
  <appExitMode mode="0"/>
</configuration>