<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <controlpad id="1" name="">
    <serialPort id="1" name="">
      <portName>COM1</portName>
      <baudRate>9600</baudRate>
      <parity>1</parity>
      <dataBits>8</dataBits>
      <stopBits>1</stopBits>
    </serialPort>
  </controlpad>
  <check>
    <no>1</no>
    <startPointX>10</startPointX>
    <startPointY>300</startPointY>
    <rectWidth>800</rectWidth>
    <rectHeight>100</rectHeight>
    <leftX>10</leftX>
    <rightX>810</rightX>
    <upY>300</upY>
    <downY>400</downY>
    <startDY>350</startDY>
    <cameraPicsDirPath>C:\photo</cameraPicsDirPath>
  </check>
  <language lang="cn-ZH" />
</configuration>